Source: qmc2
Section: games
Priority: extra
Maintainer: Marcelo Marzola Bossoni <mmbossoni@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.7.0), libphonon-dev, libqt4-opengl-dev, libqtwebkit-dev, libsdl1.2-dev, rsync, libxmu-dev
Standards-Version: 3.9.2
Homepage: http://qmc2.arcadehits.net

Package: qmc2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtgui4 (>= 4.7.0), libphonon4, libqtwebkit4, libqt4-test, sdlmame (>= 0.144) | sdlmess (>= 0.144) | mame (>= 0.144)
Description: M.A.M.E./M.E.S.S. Catalog / Launcher II
 QMC2 is a Qt 4 based multi-platform GUI front end for several MAME and MESS
 variants.
