Source: qmc2
Section: games
Priority: extra
Maintainer: Marcelo Marzola Bossoni <mmbossoni@gmail.com>
Build-Depends: debhelper (>= 11), qt5-default, qttools5-dev-tools, qtbase5-dev, qtmultimedia5-dev, libqt5webkit5-dev, libqt5xmlpatterns5-dev, libqt5svg5-dev, libsdl2-dev, minizip, rsync, libxmu-dev, w3m, gawk
Standards-Version: 4.3.0
Homepage: http://qmc2.batcom-it.net

Package: qmc2-sdlmame
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qmc2-data (>= 0.57), libqt5gui5, libqt5sql5-sqlite, libqt5multimedia5, libqt5webkit5, libqt5xmlpatterns5, libqt5svg5, libqt5test5, sdlmame (>= 0.162) | mame (>= 0.162)
Replaces: qmc2 (<= 0.34), qmc2-sdlmess (<= 0.51), qmc2-sdlume (<= 0.51), qmc2-runonce (<= 0.51)
Description: M.A.M.E. Catalog / Launcher II
 QMC2 is a feature-rich Qt 5 based multi-platform GUI front end for M.A.M.E.

Package: qmc2-arcade
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-declarative-shaders, qmc2-sdlmame
Description: QMC2 Arcade Mode
 An Arcade like user interface for QMC2

Package: qchdman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-script, libqt4-scripttools
Description: QMC2's Qt chdman interface
 A Qt interface for chdman utility

Package: qmc2-data
Depends: ${misc:Depends}
Architecture: all
Description: QMC2 common data files
 Common data files used by QMC2
