Source: qmc2
Section: games
Priority: extra
Maintainer: Marcelo Marzola Bossoni <mmbossoni@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.5.2), libqt4-phonon-dev, libqt4-opengl-dev, libsdl1.2-dev, rsync
Standards-Version: 3.8.1
Homepage: http://qmc2.arcadehits.net

Package: qmc2
Architecture: any
Depends: libqtgui4 (>= 4.5.2), libqt4-phonon
Description: M.A.M.E./M.E.S.S. Catalog / Launcher II
 QMC2 – M.A.M.E./M.E.S.S. Catalog / Launcher II is the successor of one of the first UNIX M.A.M.E. GUI front ends available on this planet called QMamecat (derived from MAMECAT, which was text-only). 
